@use "../base/styles" as *;

.footer {
    padding: 0rem 3rem 3rem 3rem;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--neutral-white);
    gap: 5rem;

    @media (max-width:765px) {
        display: none;
    }

    &__contact {
        width: 18.75rem;
    }

    &__logo {
        width: 300px;
    }

    &__btn {
        margin-top: 2rem;
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-radius: 100px;
        background-color: var(--primary-yellow);
        color: var(--secondary-btn-fg);
        @include font-texte-16px;
    }

    &__title {

        @include font-texte-22px;
        color: var(--card-color-fg);
    }

    &__div1 {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__txt {
        @include font-texte-14px;
        color: var(--card-color-fg);
    }

    &__div2 {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__join {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__actu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__div3 {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__lamiecaline {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__réseaux {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

}