@use "../base/_styles" as *;

.header {
  &__section {
    display: flex;
    flex-direction: row;
    margin: 1.25rem;

    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg-primary);
  }

  &__div1 {
    display: flex;
    padding: 1.25rem;
    align-items: center;
    gap: 2.5rem;
  }
  &__logo {
    max-width: 15rem;
  }

  &__div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
