@use "../base/_styles" as *;

.header {
  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg-primary);
    padding: 0rem 2rem 0rem 2rem;
  }

  &__logo {
    max-width: 15rem;

    @media (max-width: 765px) {
      width: 9.28125rem;
    }
  }

  &__div1 {
    display: flex;
    padding: 1.25rem;
    align-items: center;
    gap: 2.5rem;

    @media (max-width: 765px) {
      display: none;
    }
  }

  &__div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;

    @media (max-width: 765px) {
      gap: 0.5rem;
    }
  }

  &__pro {
    @media (max-width: 765px) {
      width: 1.5rem;
    }
  }

  &__loc {
    @media (max-width: 765px) {
      display: none;
    }
  }

  &__bag {
    @media (max-width:765px) {
      width: 1.5rem;
    }
  }
}