@use "../base/_styles" as *;


.historique {
    display: flex;
    align-items: center;
    width: 76.5625rem;
    height: 22.5rem;
    padding: 1.25rem 0rem 1.25rem 0rem;
    flex-direction: column;

    @media (max-width: 765px) {
        display: flex;
        width: 23.4375rem;
        flex-direction: column;
    }


    &__title {
        display: flex;
        @include font-texte-16px;
        font-weight: 700;
        color: var(--neutral-white);
        height: 3.75rem;
        width: 76.5625rem;
        padding: 1.25rem 24.125rem 1.25rem 2.9375rem;
        align-items: flex-start;
        gap: 11.875rem;
        background-color: var(--primary-btn-bg);

        @media (max-width: 765px) {

            display: flex;
            width: 25rem;
            padding: 1.5rem;
            @include font-texte-14px;
            justify-content: space-between;
            align-items: center;
            gap: 1.25rem;
        }


    }

    &__comm1 {
        @include font-texte-16px;
        font-weight: 700;
        display: flex;
        width: 76.5625rem;
        height: 6.25rem;
        padding: 1.25rem 0rem 0rem 3rem;
        align-items: flex-start;
        border-bottom: 1px solid var(--primary-brown);
        background-color: var(--neutral-white);

        @media (max-width: 765px) {
            display: flex;
            flex-wrap: wrap;
            width: 25rem;
            padding: 1.25rem 0rem 0rem 1.5rem;
            @include font-texte-14px;
            align-items: center;
        }
    }

    &__txtdate {
        padding-left: 10.5rem;

        @media (max-width: 765px) {
            padding-left: 0.5rem;
        }
    }

    &__txtname {
        padding-left: 7rem;

        @media (max-width: 765px) {
            padding-left: 0.5rem;
        }
    }

    &__txtstats {
        padding-left: 7rem;

        @media (max-width: 765px) {
            padding-left: 0.5rem;
        }
    }

    &__txtdétails {
        padding-left: 10rem;

        @media (max-width: 765px) {
            padding-left: 7rem;
        }
    }

    
}