@use "../base/styles" as *;

.label {
  display: inline-flex;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 3px solid var(--label-primary-stroke);
  color: var(--label-primary-fg);
  @include font-texte-14px;

  @media (min-width: 768px) {
    @include font-texte-16px;
    padding: 0.9375rem 1.25rem;
  }
}
